<div class="search-content input-group float-right" [class.col-md-5]="col5">
  <select *ngIf="withAtivo" [(ngModel)]="ativo" class="select-ativo" (change)="search()">
    <option value="1">ATIVO</option>
    <option value="0">INATIVO</option>
  </select>
  <select *ngIf="modalidades" [(ngModel)]="modalidade" class="select-ativo" (change)="search()">
    <option value="" *ngIf="!selecionarSomenteModalidadeExceto">Todos</option>
    <option *ngFor="let obj of modalidades" [value]="obj.id">{{obj.descricao}}</option>
  </select>
  <input [(ngModel)]="textInput" (keydown.enter)="search()" class="form-control py-2" type="search"
    [placeholder]="placeholder" value="" id="example-search-input" [title]="placeholder">
  <span class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="search()">
      <i class="fa fa-search"></i>
    </button>
  </span>
</div>
