.footer {
  background-color: transparent;
  text-align: center;
}

.footer .titlepage h2 {
  color: #fff;
  margin: inherit;
  border-bottom: #fff solid 1px;
}


.bottom_form h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: #fff;
  padding-bottom: 15px;
}

.bottom_form .enter {
  border: inherit;
  padding: 0px 19px;
  width: 62%;
  height: 53px;
  background: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  float: left;
}

.copyright {
  padding: 20px 0px;
}

.copyright p {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-top: #ddd solid 1px;
  padding-top: 25px;
}

.copyright a {
  color: #fff;
}

