<div class="crud">

  <app-permissionario-table title="AUTORIZAÇÃO PARA ADESIVAÇÃO CUSTEADA PELO PERMISSIONÁRIO"
    (selecionarEvent)="selecionarPermissionarioByEvent($event)"></app-permissionario-table>

  <ng-template #visualizarVeiculos let-modal>
    <app-modal modalID="visualizarVeiculos" title="Veículos" (closeModalEmit)="closeModal($event)">
      <div class="clearfix">
        <h6>Veículos</h6>
        <table *ngIf="dataSearchVeiculo.data.length>0" class="table table-striped">
          <thead>
            <tr>
              <th>Placa</th>
              <th>Marca/Modelo</th>
              <th>Cor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of dataSearchVeiculo.data">
              <td>{{obj?.placa}}</td>
              <td>{{obj?.marca_modelo_veiculo.descricao}}</td>,
              <td>{{obj?.cor.descricao}}</td>
              <td class="text-right">
                <a href="javascript: void(0);" (click)="selecionarVeiculo(obj.id);" title="Selecionar"><i
                    class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <button (click)="closeModal($event)" class="btn btn-secondary btn-sm pull-right">Cancelar</button>
      </div>
    </app-modal>
  </ng-template>

  <ng-template #modalDataLimite let-modal>
    <app-modal modalID="modalDataLimite" title="Veículos" (closeModalEmit)="closeModal($event)">
      <div class="clearfix">
        <h6>Data Limite</h6>
        <input type="text" class="form-control mb-2" [(ngModel)]="dataLimite" placeholder="dd/mm/aaaa" mask="00/00/0000"
          [dropSpecialCharacters]="false" style="width: 200px;">
        <button (click)="salvarDataLimite()" class="btn btn-primary btn-sm pull-right">Salvar</button>
        <button (click)="closeModal($event)" class="btn btn-secondary btn-sm pull-right mr-2">Cancelar</button>
      </div>
    </app-modal>
  </ng-template>

  <ng-template #modalEmpresas let-modal>
    <app-modal modalID="modalEmpresas" title="Empresas" (closeModalEmit)="closeModal($event)">
      <div class="clearfix">
        <h6>Empresas</h6>
        <table *ngIf="dataSearchEmpresas.data.length>0" class="table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of dataSearchEmpresas.data">
              <td>{{obj?.nome}}</td>
              <td class="text-right">
                <a href="javascript: void(0);" (click)="selecionarEmpresa(obj.id);" title="Selecionar"><i
                    class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <button (click)="closeModal($event)" class="btn btn-secondary btn-sm pull-right">Cancelar</button>
      </div>
    </app-modal>
  </ng-template>

</div>
