<div class="rcorners2"></div>
<div class="container-fluid h-120">

  <div class="border-bottom my-3">
    <h3 class="titulo-white">
      <a *ngIf="!showOutlet" [routerLink]="['..']" routerLinkActive="router-link-active"><i class="fa fa-arrow-left"></i> Voltar</a>
      <a *ngIf="showOutlet" [routerLink]="['/user/impressos']"><i class="fa fa-arrow-left"></i> Voltar</a>
      | Impressos
    </h3>
  </div>

  <div *ngIf="!showOutlet">
    <div class="menu-horizontal">
      <div class="container">
        <div class="row">
          <a routerLink="formulariorenovacaopermissao">
            <div class="rcorners2 col-sm item-menu item-smaller">
              <i class="fa fa-chevron-circle-right i-smaller"></i>
              <span>
                ANEXO 01 - REQUERIMENTO DE RENOVAÇÃO DE PERMISSÃO
              </span>
            </div>
          </a>
          <a routerLink="formulariodeclaracaomonitor">
            <div class="rcorners2 col-sm item-menu item-smaller">
              <i class="fa fa-chevron-circle-right i-smaller"></i>
              <span>
                ANEXO 07 - DECLARAÇÃO DE MONITOR
              </span>
            </div>
          </a>
          <a routerLink="condutorauxiliar">
            <div class="rcorners2 col-sm item-menu item-smaller">
              <i class="fa fa-chevron-circle-right i-smaller"></i>
              <span>
                ANEXO 08 - CONDUTOR AUXILIAR
              </span>
            </div>
          </a>
          <a routerLink="solicitacaodebaixadecondutorauxiliar">
            <div class="rcorners2 col-sm item-menu item-smaller">
              <i class="fa fa-chevron-circle-right i-smaller"></i>
              <span>
                ANEXO 17 - SOLICITAÇÃO DE BAIXA DE CONDUTOR
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid h-120">
    <div class="row h-120">
      <main class="col">
        <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
      </main>
    </div>
  </div>

</div>
