<div class="cleanfix m-2" style="height: 55px;">
  <app-search (searchEmitter)="search($event)"></app-search>
</div>
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="clearfix">
  <table *ngIf="dataSearch && dataSearch.data.length>0" class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>
          <input type="checkbox" (change)="selecionarTodos();" [(ngModel)]="selectAll" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of dataSearch.data">
        <td>{{obj?.nome}}</td>
        <td class="text-right">
          <input type="checkbox" value="{{obj.id}}" (click)="selecionar(obj);"
            [checked]="select(obj.id) ? 'checked' : ''" />
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="dataSearch && dataSearch.data.length>0" class="float-right">
    <app-pagination [backEnabled]="dataSearch.prev_page_url!=null" [nextEnabled]="dataSearch.next_page_url!=null"
      [actualPage]="dataSearch.current_page" (changePos)="changePos($event)">
    </app-pagination>
  </div>

  <div *ngIf="!dataSearch || dataSearch.data.length==0" class="alert alert-warning">
    Nenhum registro encontrado!
  </div>
</div>
