<form  autocomplete="off">
  <div class="form-inline">

    <div class="subitem">
      <h3>Falecimento</h3>

      <app-input label="Data de Óbito">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="N° da Certidão de Óbito">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Nome Inventariante">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Grau de Parentesco">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="N° do Processo">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Parecer do Juiz">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

    </div>

  </div>

</form>
