<form  autocomplete="off">
  <div class="form-inline">

    <div class="subitem">
      <h3>Veículo do Permissionário</h3>

      <app-input label="Placa">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Marca/Modelo">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Renavam">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Chassis">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Combustivel">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Ano de Fabricação">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Ano Modelo">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Cor">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Tipo">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Capacidade">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Tipo Capacidade">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Obs">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <app-input label="Anos de Vida Útil">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

    </div>


    <div class="subitem">
      <h3>Condutor Auxiliar Inativos</h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Dt. Incício</th>
            <th>Dt. Término</th>
            <th>Marca/Modelo</th>
            <th>Placa</th>
            <th>Renavam</th>
            <th>Chassis</th>
            <th>Ano Fab</th>
            <th>Ano Mod</th>
            <th>Cor</th>
            <!-- <th>Combustivel</th> -->
            <!-- <th>Tipo</th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <!-- <td></td>
            <td></td> -->
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</form>
