.header {
  line-height: 3rem;
  padding: 0 1rem;
}

#linkSairId {
  font-size: 1rem;
  float: right;
  color: #12407c;
  padding: 5px;
  border-radius: 5px;
}

#linkSairId:hover {
  background-color: #12407c;
  color: #fff;
  text-decoration: none;
}

.links-acesso-rapido {
  font-size: 0.9rem;
  color: #12407c;
  padding: 5px;
  border-radius: 5px;
}

.links-acesso-rapido:hover {
  background-color: #12407c;
  color: #fff;
  text-decoration: none;
}
