<div class="header">
  <a routerLink="cadastros/usuarios" class="links-acesso-rapido"><i class="fa fa-user"></i> Usuários</a>
  <a routerLink="lancamentos/infracoes" class="links-acesso-rapido"><i class="fa fa-car"></i> Infrações</a>
  <a routerLink="cadastros/permissionarios" class="links-acesso-rapido"><i class="fa fa-users"></i> Permissionários</a>
  <a routerLink="cadastros/solicitacoes" class="links-acesso-rapido"><i class="fa fa-bell"></i> Solicitações</a>

  <a id="linkSairId" (click)="logout();" href="javascript:void(0)"><i class="fa fa-sign-out"></i> Sair</a>
</div>
