<form *ngIf="!loading" [formGroup]="form" autocomplete="off">
  <div class="form-inline">

    <div class="subitem">
      <h3>Documentos</h3>

      <app-input label="Atestado de Saúde">
        <select formControlName="atestado_de_saude" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Comprovante de Endereço">
        <select formControlName="comprovante_de_endereco" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="C.R.L.V">
        <select formControlName="crlv" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="IPVA">
        <select formControlName="ipva" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="DPVAT">
        <select formControlName="dpvat" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Certificado de Pontuação do CNH">
        <select formControlName="certificado_pontuacao_cnh" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Relação dos Alunos Transportados">
        <select formControlName="relacao_dos_alunos_transportados" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Laudo de Vistoria Comprovada">
        <select formControlName="laudo_vistoria_com_aprovacao_da_sa_trans" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Ciretran Vistoria">
        <select formControlName="ciretran_vistoria" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Ciretran Autorização">
        <select formControlName="ciretran_autorizacao" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

    </div>

    <div class="subitem">
      <h3>Certidão Negativa de Distribuição Criminal</h3>

      <app-input label="Cert. Negativa Crim.">
        <select formControlName="certidao_negativa" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Validade"
        [warning]="isExpired('validade_certidao_negativa')? 'Certidão Negativa vencida' : null">
        <input type="text" class="form-control" formControlName="validade_certidao_negativa" mask="00/00/0000"
          [dropSpecialCharacters]="false" autocomplete="off">
      </app-input>

    </div>

    <div class="subitem">
      <h3>CMC - Inscrição de Cadastro Mobiliário</h3>

      <app-input label="CMC">
        <select formControlName="inscricao_do_cadastro_mobiliario" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Número">
        <input type="text" class="form-control" formControlName="numero_do_cadastro_mobiliario" autocomplete="off">
      </app-input>

    </div>

    <div class="subitem">
      <h3>Cursos - SEST/SENAT</h3>

      <app-input label="Cursos">
        <select formControlName="curso_primeiro_socorros" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Emissão">
        <input type="text" class="form-control" formControlName="curso_primeiro_socorros_emissao" mask="00/00/0000"
          [dropSpecialCharacters]="false" autocomplete="off">
      </app-input>

    </div>

    <div class="subitem">
      <h3>Contrato de Comodato</h3>

      <app-input label="Contrato">
        <select formControlName="contrato_comodato" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Validade" [warning]="isExpired('contrato_comodato_validade')? 'Contrato vencido' : null">
        <input type="text" class="form-control" formControlName="contrato_comodato_validade" mask="00/00/0000"
          [dropSpecialCharacters]="false" autocomplete="off">
      </app-input>

    </div>

    <div class="subitem">
      <h3>Selo GNV</h3>

      <app-input label="Selo GNV">
        <select formControlName="selo_gnv" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Validade" [warning]="isExpired('selo_gnv_validade')? 'Selo GNV vencido' : null">
        <input type="text" class="form-control" formControlName="selo_gnv_validade" mask="00/00/0000"
          [dropSpecialCharacters]="false" autocomplete="off">
      </app-input>

    </div>

    <div class="subitem">
      <h3>Taximetro/Tacógrafo</h3>

      <app-input label="Taximetro/Tacógrafo">
        <select formControlName="taximetro_tacografo" class="form-control">
          <option value="true">SIM</option>
          <option value="false">NÃO</option>
        </select>
      </app-input>

      <app-input label="Número">
        <input type="text" class="form-control" formControlName="taximetro_tacografo_numero" autocomplete="off">
      </app-input>

      <app-input label="Aferição">
        <input type="text" class="form-control" formControlName="taximetro_tacografo_afericao" mask="00/00/0000"
          [dropSpecialCharacters]="false" mask="00/00/0000" [dropSpecialCharacters]="false" autocomplete="off">
      </app-input>
    </div>

    <div class="subitem">
      <h3>Atividade</h3>

      <app-input label="Início da Atividade">
        <input type="text" class="form-control" formControlName="inicio_atividades" mask="00/00/0000"
          [dropSpecialCharacters]="false" autocomplete="off">
      </app-input>

      <app-input label="Término da Atividade">
        <input type="text" class="form-control" formControlName="termino_atividades" mask="00/00/0000"
          [dropSpecialCharacters]="false" autocomplete="off">
      </app-input>

      <app-input label="Motivo">
        <input type="text" class="form-control" formControlName="termino_atividades_motivo" autocomplete="off">
      </app-input>

      <app-input label="Tranferência">
        <input type="text" class="form-control" formControlName="data_transferencia" mask="00/00/0000"
          [dropSpecialCharacters]="false" autocomplete="off">
      </app-input>
    </div>

  </div>
  <div class="clearfix">
    <div class="alert alert-danger" *ngIf="errorMessage">
      <strong [innerHTML]="errorMessage"></strong>
    </div>
    <button type="submit" class="btn btn-success pull-right" (click)="salvar(form.value)"
      [disabled]="!form.valid">Salvar</button>
  </div>
</form>
