<form  autocomplete="off">
  <div class="form-inline">

    <div class="subitem">
      <h3>Aplicativos</h3>

      <app-input label="Aplicativo">
        <input type="text" class="form-control" autocomplete="off">
      </app-input>

      <div class="clearfix">
        <button type="button" class="btn btn-success pull-right">Adicionar</button>
      </div>
    </div>


    <div class="subitem">
      <h3>Aplicativos do Permissionário</h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Aplicativo</th>
            <th>Data</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</form>
