<div class="crud">

  <app-permissionario-table title="Solicitacao de Autorização Provisória"
    (selecionarEvent)="selecionarPermissionarioByEvent($event)"></app-permissionario-table>

  <ng-template #visualizarVeiculos let-modal>
    <app-modal modalID="visualizarVeiculos" title="Veículos" (closeModalEmit)="closeModal($event)">
      <div class="clearfix">
        <h6>Veículos</h6>
        <table *ngIf="dataSearchVeiculo.data.length>0" class="table table-striped">
          <thead>
            <tr>
              <th>Placa</th>
              <th>Marca/Modelo</th>
              <th>Cor</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of dataSearchVeiculo.data">
              <td>{{obj?.placa}}</td>
              <td>{{obj?.marca_modelo_veiculo.descricao}}</td>
              <td>{{obj?.cor.descricao}}</td>
              <td>{{obj.ativo?'Ativo':'Inativo'}}</td>
              <td class="text-right">
                <a href="javascript: void(0);" *ngIf="obj.ativo" (click)="selecionarVeiculo(obj.id);" title="Selecionar"><i
                    class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <button (click)="closeModal($event)" class="btn btn-secondary btn-sm pull-right">Cancelar</button>
      </div>
    </app-modal>
  </ng-template>

  <ng-template #modalInfoAdicionais let-modal>
    <app-modal modalID="modalInfoAdicionais" title="Informações Adicionais" (closeModalEmit)="closeModal($event)">
      <div class="clearfix crud" style="height: auto;">
        <form *ngIf="!loading" [formGroup]="form" autocomplete="off">
          <div class="form-inline">
            <app-input label="Motivo">
              <input type="text" class="form-control" formControlName="motivo" autocomplete="off">
            </app-input>

            <app-input label="Data Limite">
              <input type="text" class="form-control" formControlName="dataLimite" mask="00/00/0000"
                [dropSpecialCharacters]="false" autocomplete="off">
            </app-input>

            <app-input label="Quando Devera">
              <input type="text" class="form-control" formControlName="quandoDevera" autocomplete="off">
            </app-input>
          </div>
        </form>

        <button (click)="salvarForm()" class="btn btn-primary btn-sm pull-right mr-2">Avançar</button>
        <button (click)="closeModal($event)" class="btn btn-secondary btn-sm pull-right mr-2">Cancelar</button>
      </div>
    </app-modal>
  </ng-template>

</div>
