<div class="crud">

  <app-search (searchEmitter)="search($event)"></app-search>

  <h3 class="titulo">
    <i class="fa fa-arrow-right"></i> Infrações |
    <a [routerLink]="['novo']" title="Novo">Novo <i class="fa fa-plus"></i></a>
  </h3>

  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="!loading" class="clearfix">
    <table *ngIf="dataSearch.data.length>0" class="table table-striped">
      <thead>
        <tr>
          <th>N. AIP</th>
          <th>Permissionário</th>
          <th>Placa</th>
          <th>Status</th>
          <th>Data</th>
          <th>Data Pagamento</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of dataSearch.data">
          <td>{{obj?.num_aip}}</td>
          <td>{{obj?.permissionario.nome_razao_social}}</td>
          <td>{{obj?.veiculo.placa}}</td>
          <td>{{obj?.status}}</td>
          <td>{{obj?.data_infracao | date: 'dd/MM/yyyy'}}</td>
          <td>{{obj?.data_pagamento | date: 'dd/MM/yyyy'}}</td>
          <td class="text-right">
            <a href="javascript: void(0);" (click)="initLancamentoPagamento(informarPagamento, obj.id);" title="Lançar Pagamento"
              class="mr-2" *ngIf="obj.status=='pendente' || obj.status=='confirmacao_pendente'">
              <i class="fa fa-book" aria-hidden="true"></i>
            </a>
            <a href="javascript: void(0);" (click)="getQrCode(shareQRCodeModal, obj.id);"
              title="Compartilhar QRCode de Pagamento" class="mr-2">
              <i class="fa fa-qrcode" aria-hidden="true"></i>
            </a>
            <a href="javascript: void(0);" (click)="alterar(obj.id);" title="Alterar">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="dataSearch.data.length>0" class="float-right">
      <app-pagination [backEnabled]="dataSearch.prev_page_url!=null" [nextEnabled]="dataSearch.next_page_url!=null"
        [actualPage]="dataSearch.current_page" (changePos)="changePos($event)">
      </app-pagination>
    </div>

    <div *ngIf="!dataSearch || dataSearch.data.length==0" class="alert alert-warning">
      Nenhum registro encontrado!
    </div>
  </div>

  <ng-template #shareQRCodeModal let-modal>
    <app-modal modalID="uploadModal" title="Código para Pagamento da Infração" (closeModalEmit)="closeModal($event)">
      <div class="row">
        <div class="col-md-4">
          <qrcode #qrcodeChild id="qrcode" [qrdata]="qrCodePix.payload()" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="qrcode">Código PIX para Pagamento da Infração</label>
                <textarea class="form-control" id="qrcode" rows="3" [value]="qrCodePix.payload()"></textarea>
              </div>
            </div>
            <div class="row w-100">
              <div class="col-md-12 acoes-qrcode">
                <button class="btn btn-primary" (click)="copyCode()"><em class="fa fa-copy"></em> Copiar código PIX</button>
                <button class="btn btn-primary" (click)="copyQrCode()"><em class="fa fa-copy"></em> Copiar QRCode</button>
                <button class="btn btn-primary" (click)="saveQrCode()"><em class="fa fa-save"></em> Salvar QRCode</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-modal>
  </ng-template>

  <ng-template #informarPagamento let-modal>
    <app-modal modalID="informarPagamento" title="Informar Pagamento" (closeModalEmit)="closeModal($event)">
      <app-user-infracoes-informar-pagamento [infracaoId]="infracaoIdSelecionada"></app-user-infracoes-informar-pagamento>
    </app-modal>
  </ng-template>

</div>
