<div class="input-component" [class.has-error]="hasError()">
  <label *ngIf="label">{{label}}<span class="text-danger" *ngIf="require">*</span></label>
  <ng-content></ng-content>
  <br>
  <small class="text-danger" *ngIf="hasError()">{{getErrorMessage}}</small>
  <small class="text-warning" *ngIf="warning">{{warning}}</small>
  <small class="form-text text-muted" *ngIf="description">{{description}}</small>

  <div *ngIf="options && this.options.size>0" class="autocomplete-options">
    <p *ngFor="let option of options | keyvalue"><a href="javascript: void(0)" (click)="setOptionSelected(option.key)">{{option.value}}</a></p>
  </div>
</div>

