<div class="menu-horizontal" style="margin-top: 10%;">
  <div class="container">
    <div class="row">

      <a routerLink="cadastros">
        <div class="rcorners2 col-sm item-menu">
          <i class="fa fa-list-alt"></i>
          <span>
            Cadastros
          </span>
        </div>
      </a>
      <a routerLink="lancamentos">
        <div class="rcorners2 col-sm item-menu">
          <i class="fa fa-share"></i>
          <span>
            Lançamentos
          </span>
        </div>
      </a>
      <!--<a routerLink="impressos">
        <div class="rcorners2 col-sm item-menu">
          <i class="fa fa-print"></i>
          <span>
            Impressos
          </span>
        </div>
      </a>-->
      <a routerLink="relatorios">
        <div class="rcorners2 col-sm item-menu">
          <i class="fa fa-clipboard"></i>
          <span>
            Relatórios
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
