<div class="rcorners2"></div>

<div class="container-fluid h-120">
  <h3 class="titulo-white">Cadastros</h3>
  <div class="row h-120">
    <aside class="col-12 col-md-2 p-0 rcorners2">
      <nav class="navbar navbar-expand navbar-dark flex-md-column flex-row align-items-start">
        <div class="collapse navbar-collapse">
          <ul class="flex-md-column flex-row navbar-nav w-120 justify-content-between">
            <li class="nav-item">
              <a routerLink="empresas" class="nav-link pl-0" href="#">Empresas</a>
            </li>
            <li class="nav-item">
              <a routerLink="perfis" class="nav-link pl-0" href="#">Perfis</a>
            </li>
            <li class="nav-item">
              <a routerLink="usuarios" class="nav-link pl-0" href="#">Usuários</a>
            </li>
            <li class="nav-item">
              <a routerLink="permissionarios" class="nav-link pl-0" href="#">Permissionários</a>
            </li>
            <li class="nav-item">
              <a routerLink="condutores" class="nav-link pl-0" href="#">Condutores Auxiliar</a>
            </li>
            <li class="nav-item">
              <a routerLink="monitores" class="nav-link pl-0" href="#">Monitores</a>
            </li>
            <li class="nav-item">
              <a routerLink="pontos" class="nav-link pl-0" href="#">Ponto/Trecho</a>
            </li>
            <li class="nav-item">
              <a routerLink="entidadesassociativas" class="nav-link pl-0" href="#">Entidade <br>Associativa</a>
            </li>
            <li class="nav-item">
              <a routerLink="marcasmodelosdeveiculos" class="nav-link pl-0" href="#">Marcas e Modelos <br>de Veículo</a>
            </li>
            <li class="nav-item">
              <a routerLink="tiposdeveiculo" class="nav-link pl-0" href="#">Tipos de Veículo</a>
            </li>
            <li class="nav-item">
              <a routerLink="coresdeveiculos" class="nav-link pl-0" href="#">Cores de Veículo</a>
            </li>
            <li class="nav-item">
              <a routerLink="tiposdecombustivel" class="nav-link pl-0" href="#">Tipos de <br>Combustivel</a>
            </li>
            <li class="nav-item">
              <a routerLink="veiculos" class="nav-link pl-0" href="#">Veículos</a>
            </li>
            <li class="nav-item">
              <a routerLink="aplicativos" class="nav-link pl-0" href="#">Aplicativos</a>
            </li>
            <li class="nav-item">
              <a routerLink="empresasvistoriadoras" class="nav-link pl-0" href="#">Empresas Vistoriadoras/<br>Adesivadoras</a>
            </li>
            <li class="nav-item">
              <a routerLink="vistoriadores" class="nav-link pl-0" href="#">Vistoriadores</a>
            </li>
            <li class="nav-item">
              <a routerLink="tiposdecertidao" class="nav-link pl-0" href="#">Tipos de Certidão</a>
            </li>
            <li class="nav-item">
              <a routerLink="entidadecurso" class="nav-link pl-0" href="#">Entidades <br>Minitrantes <br>de Cursos</a>
            </li>
            <li class="nav-item">
              <a routerLink="tiposdecurso" class="nav-link pl-0" href="#">Tipos de Cursos</a>
            </li>
            <li class="nav-item">
              <a routerLink="quadrodeinfracoes" class="nav-link pl-0" href="#">Quadro de Infrações</a>
            </li>
            <li class="nav-item">
              <a routerLink="tiposdemoeda" class="nav-link pl-0" href="#">Tipo de Moeda</a>
            </li>
            <li class="nav-item">
              <a routerLink="valoresdainfracao" class="nav-link pl-0" href="#">Valores da Infração</a>
            </li>
            <li class="nav-item">
              <a routerLink="fiscais" class="nav-link pl-0" href="#">Agentes de <br>Fiscalização</a>
            </li>
            <li class="nav-item">
              <a routerLink="taloesdofiscal" class="nav-link pl-0" href="#">Talões do Fiscal</a>
            </li>
            <li class="nav-item">
              <a routerLink="fmp" class="nav-link pl-0" href="#">Fator Monetário <br>Padrão</a>
            </li>
          </ul>
        </div>
      </nav>
    </aside>
    <main class="col">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
