<div class="crud">

  <app-search (searchEmitter)="search($event)"></app-search>

  <h3 class="titulo">
    <i class="fa fa-arrow-right"></i> Usuários |
    <a [routerLink]="['novo']" title="Novo">Novo <i class="fa fa-plus"></i></a>
  </h3>

  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="!loading" class="clearfix">
    <table *ngIf="dataSearch.data.length>0" class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Assinatura</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of dataSearch.data">
          <td>{{obj?.nome}}</td>
          <td>{{obj?.assinatura==1?'Sim':'Não'}}</td>
          <td class="text-right">
            <a *ngIf="obj?.assinatura==1" href="javascript: void(0);" (click)="visualizarAssinatura(visualizarAssinaturaModal, obj.id);" title="Visualizar"><i
                class="fa fa-eye mr-2" aria-hidden="true"></i></a>
            <a href="javascript: void(0);" (click)="iniAlterarAssinatura(saveAssinatura, obj.id);" title="Alterar"><i
                class="fa fa-file mr-2" aria-hidden="true"></i></a>
            <a href="javascript: void(0);" (click)="alterar(obj.id);" title="Alterar"><i class="fa fa-pencil"
                aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="dataSearch.data.length>0" class="float-right">
      <app-pagination [backEnabled]="dataSearch.prev_page_url!=null" [nextEnabled]="dataSearch.next_page_url!=null"
        [actualPage]="dataSearch.current_page" (changePos)="changePos($event)">
      </app-pagination>
    </div>

    <div *ngIf="!dataSearch || dataSearch.data.length==0" class="alert alert-warning">
      Nenhum registro encontrado!
    </div>
  </div>

  <ng-template #saveAssinatura let-modal>
    <app-modal modalID="saveAssinatura" title="Assinatura" (closeModalEmit)="closeModal($event)">
      <div class="clearfix">
        <form [formGroup]="formAssinatura" autocomplete="off">
          <app-input label="Assinatura">
            <input type="file" class="form-control" autocomplete="off" formControlName="assinatura"
              (change)="handleFileInput($event)">
          </app-input>
          <button (click)="salvarAssinatura()" class="btn btn-primary btn-sm pull-right ml-1">Salvar</button>
          <button (click)="closeModal($event)" class="btn btn-secondary btn-sm pull-right">Cancelar</button>
        </form>
      </div>
    </app-modal>
  </ng-template>

  <ng-template #visualizarAssinaturaModal let-modal>
    <app-modal modalID="visualizarAssinatura" title="Assinatura" (closeModalEmit)="closeModal($event)">
      <div class="clearfix">
        <img [src]="assinatura" class="img-fluid">
      </div>
    </app-modal>
  </ng-template>

</div>
