<div class="crud">

  <app-permissionario-table title="Solicitação de Aferição de Taxímetro"
    (selecionarEvent)="selecionarPermissionarioByEvent($event)"></app-permissionario-table>

  <ng-template #visualizarVeiculos let-modal>
    <app-modal modalID="visualizarVeiculos" title="Veículos" (closeModalEmit)="closeModal($event)">
      <div class="clearfix">
        <h6>Veículos</h6>
        <table *ngIf="dataSearchVeiculo.data.length>0" class="table table-striped">
          <thead>
            <tr>
              <th>Placa</th>
              <th>Marca/Modelo</th>
              <th>Cor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of dataSearchVeiculo.data">
              <td>{{obj?.placa}}</td>
              <td>{{obj?.marca_modelo_veiculo.descricao}}</td>,
              <td>{{obj?.cor.descricao}}</td>
              <td class="text-right">
                <a href="javascript: void(0);" (click)="selecionarVeiculo(obj.id);" title="Selecionar"><i
                    class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <button (click)="closeModal($event)" class="btn btn-secondary btn-sm pull-right">Cancelar</button>
      </div>
    </app-modal>
  </ng-template>

</div>
