<div class="crud">
  <h3 class="titulo">
    <a [routerLink]="['..']" routerLinkActive="router-link-active"><i class="fa fa-arrow-left"></i> Voltar</a>
    | Alteração de Veículo
  </h3>

  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="!loading">
    <form [formGroup]="form" autocomplete="off">
      <div class="form-inline">

        <div class="subitem">
          <h3>Dados do Veículo</h3>
          <app-input label="Placa" require="true">
            <input type="text" class="form-control" formControlName="placa" mask="SSS0000" autocomplete="off">
          </app-input>

          <app-input label="Renavam" require="true">
            <input type="text" class="form-control" formControlName="cod_renavam" mask="00000000000" autocomplete="off">
          </app-input>

          <app-input label="Número do Chassi" require="true">
            <input type="text" class="form-control" formControlName="chassi" autocomplete="off">
          </app-input>

          <app-input label="Marca/Modelo" [inline]="true" [options]="marcasModelosPesquisados" require="true"
            (setObjectSelected)="marcasModelosPesquisados" require="true" (setObjectSelected)="setMarcaModelo($event)">
            <input #municipioInput type="text" class="form-control" formControlName="marca_modelo_veiculo"
              autocomplete="off" (keyup)="keyUpMarcaModelo()" (focus)="setFocusMarcaModeloInput(true)">
          </app-input>

          <app-input label="Permissionário" [inline]="true" [options]="permissionariosPesquisados" require="true"
            (setObjectSelected)="permissionariosPesquisados" require="true"
            (setObjectSelected)="setPermissionario($event)">
            <input #municipioInput type="text" class="form-control" formControlName="permissionario" autocomplete="off"
              (keyup)="keyUpPermissionario()" (focus)="setFocusPermissionarioInput(true)">
          </app-input>

          <app-input label="Anos de Vída Útil" require="true">
            <input type="text" class="form-control" formControlName="anos_vida_util_veiculo" autocomplete="off">
          </app-input>

          <app-input label="Ano de Fabricação" require="true">
            <input type="text" class="form-control" formControlName="ano_fabricacao" autocomplete="off">
          </app-input>

          <app-input label="Ano de Fabricação" require="true">
            <input type="text" class="form-control" formControlName="ano_fabricacao" autocomplete="off">
          </app-input>

          <app-input label="Ano Modelo" require="true">
            <input type="text" class="form-control" formControlName="ano_modelo" autocomplete="off">
          </app-input>

          <app-input label="Combustivel" [inline]="true" require="true">
            <select formControlName="tipo_combustivel_id" class="form-control">
              <option *ngFor="let tc of tiposDeCombustivel;" value="{{tc.id}}">{{tc.descricao}}</option>
            </select>
          </app-input>

          <app-input label="Cores" [inline]="true" require="true">
            <select formControlName="cor_id" class="form-control">
              <option *ngFor="let cor of cores;" value="{{cor.id}}">{{cor.descricao}}</option>
            </select>
          </app-input>

          <app-input label="Tipo do Veículo" [inline]="true" require="true">
            <select formControlName="tipo_veiculo_id" class="form-control">
              <option *ngFor="let tv of tiposDeVeiculo;" value="{{tv.id}}">{{tv.descricao}}</option>
            </select>
          </app-input>
        </div>

        <div class="subitem">
          <h3>Capacidade do Veículo</h3>

          <app-input label="Capacidade" require="true">
            <input type="text" class="form-control" formControlName="capacidade" autocomplete="off">
          </app-input>

          <app-input label="Tipo da Capacidade" require="true">
            <select formControlName="tipo_capacidade" class="form-control" require="true">
              <option value="N">Normal</option>
              <option value="H">Homologada</option>
              <option value="M">Modificada</option>
            </select>
          </app-input>

          <app-input label="Observação">
            <input type="text" class="form-control" formControlName="observacao_capacidade" autocomplete="off">
          </app-input>

        </div>

      </div>
      <div class="clearfix">
        <div class="alert alert-danger" *ngIf="errorMessage">
          <strong [innerHTML]="errorMessage"></strong>
        </div>
        <button type="submit" class="btn btn-success pull-right" (click)="salvar(form.value)"
          [disabled]="!form.valid">Salvar</button>
      </div>
    </form>
  </div>

</div>
