<form *ngIf="!loading" [formGroup]="form" autocomplete="off">
  <div class="form-inline">

    <div class="subitem">
      <h3>Cursos</h3>

      <app-input label="Curso" [inline]="true" [require]="true">
        <select formControlName="tipo_do_curso_id" class="form-control">
          <option *ngFor="let obj of tiposDeCurso;" value="{{obj.id}}">{{obj.descricao}}</option>
        </select>
      </app-input>

      <app-input label="Emissão">
        <input type="text" class="form-control" formControlName="data_emissao" mask="00/00/0000" [dropSpecialCharacters]="false"
          autocomplete="off">
      </app-input>

      <div class="clearfix">
        <button type="submit" class="btn btn-success pull-right" (click)="salvar(form.value)"
          [disabled]="!form.valid">Adicionar</button>
      </div>
    </div>


    <div class="subitem">
      <h3>Cursos do Monitor</h3>

      <table *ngIf="cursosDoMonitor.length>0" class="table table-striped">
        <thead>
          <tr>
            <th>Tipo do Curso</th>
            <th>Emissão</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of cursosDoMonitor">
            <td>{{obj?.descricao}}</td>
            <td>{{obj?.data_emissao | date: 'dd/MM/yyyy'}}</td>
            <td class="text-right">
              <a href="javascript: void(0);" (click)="setCursoParaDelecao(obj.id);openModal(contentExcluir)"  title="Excluir"><i class="fa fa-trash"
                  aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!cursosDoMonitor || cursosDoMonitor.length==0" class="alert alert-warning">
        Nenhum registro encontrado!
      </div>
    </div>


  </div>

  <ng-template #contentExcluir let-modal>
    <app-modal modalID="excluirModal" title="Excluir" (closeModalEmit)="closeModal($event)">
      <div class="clearfix">
        <h6>Deseja excluir este registro?</h6>
        <button (click)="deletarCurso()" class="btn btn-danger btn-sm pull-right ml-1">Sim</button>
        <button (click)="closeModal($event)" class="btn btn-secondary btn-sm pull-right">Não</button>
      </div>
    </app-modal>
  </ng-template>

</form>
