<div class="crud">

  <app-permissionario-table title="Notificação"
    (selecionarEvent)="selecionarPermissionarioByEvent($event)"></app-permissionario-table>

  <ng-template #modalInfoAdicionais let-modal>
    <app-modal modalID="modalInfoAdicionais" title="Informações Adicionais" (closeModalEmit)="closeModal($event)">
      <div class="clearfix crud" style="height: auto;">
        <form *ngIf="!loading" [formGroup]="form" autocomplete="off">
          <div class="form-inline">
            <app-input label="Prazo">
              <input type="text" class="form-control" formControlName="prazo" autocomplete="off">
            </app-input>

            <app-input label="Notificado">
              <input type="text" class="form-control" formControlName="notificado" autocomplete="off">
            </app-input>
          </div>
        </form>

        <button (click)="salvarForm()" class="btn btn-primary btn-sm pull-right mr-2">Avançar</button>
        <button (click)="closeModal($event)" class="btn btn-secondary btn-sm pull-right mr-2">Cancelar</button>
      </div>
    </app-modal>
  </ng-template>

</div>
