<div class="crud">
  <h3 *ngIf="!crudObj" class="titulo">
    <a [routerLink]="['..']" routerLinkActive="router-link-active"><i class="fa fa-arrow-left"></i> Voltar</a>
    | Nova Infração
  </h3>

  <h3 *ngIf="crudObj" class="titulo">
    <a [routerLink]="['../..']" routerLinkActive="router-link-active"><i class="fa fa-arrow-left"></i> Voltar</a>
    | Alteração de Infração

    <a title="Excluir" class="mr-1" href="javascript:void(0)" (click)="openModal(contentExcluir)" style="float: right;">
      <i class="fa fa-trash"></i></a>
  </h3>

  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="!loading">
    <form [formGroup]="form" autocomplete="off">
      <div class="form-inline">

        <div class="subitem">
          <h3>Dados Principais</h3>

          <app-input label="N. AIP" [require]="true">
            <input type="text" class="form-control" formControlName="num_aip" autocomplete="off">
          </app-input>

          <app-input label="Permissionário" [inline]="true" [options]="permissionariosPesquisados" [require]="true"
            (setObjectSelected)="permissionariosPesquisados" [require]="true"
            (setObjectSelected)="setPermissionario($event)">
            <input #municipioInput type="text" class="form-control" formControlName="permissionario" autocomplete="off"
              (keyup)="keyUpPermissionario()" (focus)="setFocusPermissionarioInput(true)">
          </app-input>

          <app-input label="Veículo" [require]="true">
            <input type="text" class="form-control" formControlName="veiculo" autocomplete="off" [readOnly]="true">
            <button class="btn btn-search" type="button" title="Pesquisa Veículos"
              (click)="searchVeiculos();openModal(pesquisaVeiculoModal)">
              <i class="fa fa-search"></i>
            </button>
          </app-input>

          <app-input label="Data" [require]="true">
            <input type="text" class="form-control" formControlName="data_infracao" mask="00/00/0000"
              [dropSpecialCharacters]="false" autocomplete="off">
          </app-input>

          <app-input label="Hora" [require]="true">
            <input type="text" class="form-control" formControlName="hora_infracao" mask="00:00"
              [dropSpecialCharacters]="false" autocomplete="off">
          </app-input>


        </div>


        <div class="subitem">
          <h3>Sobre a Infração</h3>

          <app-input label="Quadro de Infração" [require]="true">
            <input type="text" class="form-control" formControlName="quadro_infracao" autocomplete="off" [readOnly]="true">
            <button class="btn btn-search" type="button" title="Pesquisa Quadro"
              (click)="searchQuadroDeInfracoes();openModal(pesquisaQuadro)">
              <i class="fa fa-search"></i>
            </button>
          </app-input>

          <app-input label="N. Processo" [require]="true">
            <input type="text" class="form-control" formControlName="num_processo" autocomplete="off">
          </app-input>
        </div>

        <div class="row">
          <div class="col-md-6">
            <app-input label="Observação">
              <textarea class="form-control" formControlName="obs_aip" cols="50"></textarea>
            </app-input>
          </div>
          <div class="col-md-6">
            <app-input label="Acao Tomada" [require]="true">
              <textarea class="form-control" formControlName="acao_tomada" cols="50"></textarea>
            </app-input>
          </div>
        </div>

        <div class="subitem">
          <h3>Sobre o Valor</h3>

          <app-input label="Moeda" [inline]="true" [require]="true">
            <select formControlName="moeda_id" class="form-control">
              <option *ngFor="let moeda of moedas;" value="{{moeda.id}}">{{moeda.nome}}</option>
            </select>
          </app-input>

          <app-input label="Qtd Moeda" [require]="true">
            <input type="text" class="form-control" formControlName="qtd_fmp" [readOnly]="true">
          </app-input>

          <app-input label="Valor FMP" [require]="true">
            <input type="text" class="form-control" formControlName="valor_fmp" [readOnly]="true">
          </app-input>

          <app-input label="Valor da Infração" [require]="true">
            <input type="text" class="form-control" formControlName="valor_final" autocomplete="off" [mask]="'0*,00'">
          </app-input>
        </div>

        <div class="subitem">
          <h3>Sobre o Pagamento</h3>

          <app-input label="Tipo de Pix" [require]="true">
            <select class="form-control" formControlName="tipoPix">
              <option value="0">Sistema Gerar</option>
              <option value="1">Código já gerado</option>
            </select>
          </app-input>

          <app-input label="Tipo de Chave" [require]="true">
            <select class="form-control" formControlName="tipoDeChavePix">
              <option value="0">Celular</option>
              <option value="1">Email</option>
              <option value="2">CPF</option>
              <option value="3">CNPJ</option>
              <option value="4">Aleatório</option>
            </select>
          </app-input>

          <app-input label="Chave PIX" [require]="true" *ngIf="form.get('tipoPix').value == 0">
            <input type="text" class="form-control" formControlName="chave_pix" autocomplete="off" *ngIf="form.get('tipoDeChavePix').value == 0" mask="(00) 00000-0000 || (00) 0000-0000">
            <input type="text" class="form-control" formControlName="chave_pix" autocomplete="off" *ngIf="form.get('tipoDeChavePix').value == 1 || form.get('tipoDeChavePix').value == 4">
            <input type="text" class="form-control" formControlName="chave_pix" autocomplete="off" *ngIf="form.get('tipoDeChavePix').value == 2" mask="000.000.000-00">
            <input type="text" class="form-control" formControlName="chave_pix" autocomplete="off" *ngIf="form.get('tipoDeChavePix').value == 3" mask="00.000.000/0000-00">
          </app-input>

          <app-input label="Código PIX" [require]="true" *ngIf="form.get('tipoPix').value == 1">
            <input type="text" class="form-control" formControlName="codigo_pix" autocomplete="off">
          </app-input>
        </div>

        <div class="subitem mt-3">
          <h3>Imagem da Infração</h3>
          <a *ngIf="!imageFile" href="javascript: void(0)" (click)="openModal(uploadModal)">
            Enviar Imagem
          </a>
          <a *ngIf="imageFile" href="javascript: void(0)" (click)="visualizarImagem(visualizarArquivo)">
            Visualizar
          </a>
          <span *ngIf="imageFile"> | </span>
          <a *ngIf="imageFile" href="javascript: void(0)" (click)="openModal(uploadModal)">
            Alterar
          </a>
          <span *ngIf="imageFile"> | </span>
          <a *ngIf="imageFile" href="javascript: void(0)" (click)="excluirImagem()">
            Excluir
          </a>
        </div>
      </div>
      <div class="clearfix">
        <div class="alert alert-danger" *ngIf="errorMessage">
          <strong [innerHTML]="errorMessage"></strong>
        </div>
        <button type="submit" class="btn pull-right" (click)="salvar(form.value)">Salvar</button>
      </div>
    </form>
  </div>

  <ng-template #contentExcluir let-modal>
    <app-modal modalID="excluirModal" title="Excluir" (closeModalEmit)="closeModal($event)">
      <div class="clearfix">
        <h6>Deseja excluir este registro?</h6>
        <button (click)="excluir()" class="btn btn-danger btn-sm pull-right ml-1">Sim</button>
        <button (click)="closeModal($event)" class="btn btn-secondary btn-sm pull-right">Não</button>
      </div>
    </app-modal>
  </ng-template>

  <ng-template #pesquisaQuadro let-modal>
    <app-modal modalID="pesquisaQuadro" title="Pesquisar Quadro de Infrações" (closeModalEmit)="closeModal($event)">
      <div class="crud">
        <app-search (searchEmitter)="searchQuadroDeInfracoes($event)"></app-search>

        <h3 class="titulo">
          Quadro de Infrações
        </h3>

        <div *ngIf="!loading" class="clearfix">
          <table *ngIf="quadroDeInfracoesPesquisado.data.length>0" class="table table-striped">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Descricao</th>
                <th>Natureza</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of quadroDeInfracoesPesquisado.data">
                <td>{{obj?.id_integracao}}</td>
                <td>{{obj?.descricao}}</td>
                <td>{{obj?.natureza_infracao?.descricao}}</td>
                <td class="text-right">
                  <a href="javascript: void(0);" (click)="selecionarQuadro(obj.id);" title="Selecionar"><i
                      class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="quadroDeInfracoesPesquisado.data.length>0" class="float-right">
            <app-pagination [backEnabled]="quadroDeInfracoesPesquisado.prev_page_url!=null"
              [nextEnabled]="quadroDeInfracoesPesquisado.next_page_url!=null"
              [actualPage]="quadroDeInfracoesPesquisado.current_page" (changePos)="changePosQuadroPaginate($event)">
            </app-pagination>
          </div>

          <div *ngIf="!quadroDeInfracoesPesquisado || quadroDeInfracoesPesquisado.data.length==0"
            class="alert alert-warning">
            Nenhum registro encontrado!
          </div>
        </div>
      </div>
    </app-modal>
  </ng-template>

  <ng-template #pesquisaVeiculoModal let-modal>
    <app-modal modalID="pesquisaVeiculoModal" title="Pesquisar Veículos" (closeModalEmit)="closeModal($event)">
      <div *ngIf="!permissionarioSelecionado" class="alert alert-warning">
        Nenhum permissionário selecionado!
      </div>
      <div *ngIf="permissionarioSelecionado" class="crud">
        <app-search (searchEmitter)="searchVeiculos($event)"></app-search>

        <h3 class="titulo">
          Veículos
        </h3>

        <div *ngIf="!loading" class="clearfix">
          <table *ngIf="veiculoPesquisado.data.length>0" class="table table-striped">
            <thead>
              <tr>
                <th>Placa</th>
                <th>Renavan</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of veiculoPesquisado.data">
                <td>{{obj?.placa?obj?.placa:"--"}}</td>
                <td>{{obj?.cod_renavam}}</td>
                <td class="text-right">
                  <a href="javascript: void(0);" (click)="selecionarVeiculo(obj.id);" title="Selecionar"><i
                      class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="veiculoPesquisado.data.length>0" class="float-right">
            <app-pagination [backEnabled]="veiculoPesquisado.prev_page_url!=null"
              [nextEnabled]="veiculoPesquisado.next_page_url!=null" [actualPage]="veiculoPesquisado.current_page"
              (changePos)="changePosVeiculoPaginate($event)">
            </app-pagination>
          </div>

          <div *ngIf="!veiculoPesquisado || veiculoPesquisado.data.length==0" class="alert alert-warning">
            Nenhum registro encontrado!
          </div>
        </div>
      </div>
    </app-modal>
  </ng-template>
</div>

<ng-template #uploadModal let-modal>
  <app-modal modalID="uploadModal" title="Upload da Foto" (closeModalEmit)="closeModal($event)">
    <form>
      <input type="file" id="img" name="foto" accept="image/*" (change)="handleFileInput($event)">

      <button type="submit" class="btn btn-success pull-right" (click)="closeModal(true)">Fechar</button>
    </form>
  </app-modal>
</ng-template>

<ng-template #visualizarArquivo let-modal>
  <app-modal modalID="visualizarArquivo" title="Visualizar Solicitação" (closeModalEmit)="closeModal(true)">
    <img [src]=imageToShow style="max-width:100%;" class="mr-3">
  </app-modal>
</ng-template>
