.logo{
    padding: 30px;
    text-align: center;
}

.navbar{
  margin: 0px !important;
  padding: 0px !important;
}

.navbar .nav-first{
  width: 200px;
}

.navbar a{
  color: #12407c;
 }

 .navbar a:hover{
   color: #006eff;
 }

.navbar .nav-second{
  margin-bottom: 5px;
}

.navbar .nav-second .nav-link:hover{
  background-color: #d6d6d6;
  border-radius: 5px;
}

.navbar  .nav-second a:hover{
  color: #ffffff;
}

.navbar .arrow-icon{
    margin-right: 10px;
}

.nav-link{
  padding: 0.1rem 1rem;
}

