<div class="form-inline">

  <div class="subitem">
    <h3>Condutores do Permissionário</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Inicio Afastamento</th>
          <th>Término Afastamento</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Celular</th>
          <th *ngIf="false"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of condutores">
          <td>{{obj.data_inicio_afastamento}}</td>
          <td>{{obj.data_termino_afastamento}}</td>
          <td>{{obj.nome}}</td>
          <td>{{obj.cpf}}</td>
          <td>{{obj.telefone}}</td>
          <td>{{obj.celular}}</td>
          <td *ngIf="false"><a href="javascript: void(0)" (click)="showCondutor(veiculoModal, obj)"><i class="fa fa-eye"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #veiculoModal let-modal>
  <app-modal modalID="uploadModal" title="Veículo" (closeModalEmit)="closeModal($event)">
    <table class="table table-sm">
      <tbody>
        <tr>
          <th scope="row" class="titulo-simple2">Nome</th>
          <td>{{condutorSelecionado.nome}}</td>
        </tr>
        <tr>
          <th scope="row" class="titulo-simple2">CPF</th>
          <td>{{condutorSelecionado.cpf}}</td>
        </tr>
        <tr>
          <th scope="row" class="titulo-simple2">Telefone</th>
          <td>{{condutorSelecionado.telefone}}</td>
        </tr>
        <tr>
          <th scope="row" class="titulo-simple2">Celular</th>
          <td>{{condutorSelecionado.celular}}</td>
        </tr>
      </tbody>
    </table>
  </app-modal>
</ng-template>
